nav {
padding: .5rem 5%!important;
}
.card {
    margin-top: 15vh;
}

button.btn.btn-primary.add-entry,.card  {
    width: 80%;
    margin-left: 10%;
}
.create-entry button.btn.btn-primary.add-entry {
    width: 100%;
    margin-left: 0%;
    margin-top: 2rem;
}
.empty-storage {
    text-align: center;
}
i {
  font-size: 15vh!important;
}
.entry-headers {
    font-weight: bold;
}
.entry-headers, .entry-position {
    display: flex;
}
.entry-key,  .entry-value {
    display: inline-block;
    margin:10px 0 0 2%;
    flex-grow: 1;
    height:50px;
    width: calc(100% * (1/2) - 10px - 1px);
}
.delete-entry i.material-icons {
    font-size: 2rem!important;
    cursor: pointer;
}